{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Babel": true,
    "React": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "object-curly-spacing": [0, "never"],
    "global-require": "off",
    "import/no-unresolved": "off",
    "no-console": "off",
    "no-debugger": "error",
    "no-underscore-dangle": "off",
    "no-new-func": "off",
    "no-param-reassign": "off",
    "react/prefer-stateless-function": "off",
    "react/no-multi-comp": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-indent": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-filename-extension": "off",
    "no-restricted-syntax": "off",
    "linebreak-style": "off",
    "no-bitwise": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "arrow-parens": "off",
    "consistent-return": "warn"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  }
}
