.content {
    background: url(~assets/images/topbg.png) no-repeat top center
}

.header {
    width: 1000px;
    margin: 0 auto;
    height: 934px;
    background: url(~assets/images/toplogo.png) no-repeat top center;
    position: relative;
    .title {
        position: absolute;
        top: 694px;
        left: 174px;
        color: #205D59;
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        .subtitle {
            font-size: 54px;
            color: #7CCA16;
            line-height: 64px;
            font-weight: initial;
        }
    }
    .info {
        position: absolute;
        top: 694px;
        left: 641px;
        font-size: 16px;
        color: #333333;
        .igrade {
            display: inline-block;
            font-size: 16px;
            color: #333333;
            font-weight: bold;
            line-height: 40px;
        }
    }
    .btips {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
        font-size: 12px;
        color: #666666;
    }
}

.iframe {
    width: 1000px;
    display: block;
    margin: 0 auto;
    text-align: center; // margin-left: 100px;
    min-height: 800px;
    border: none;
}

.assist {
    height: 36px;
    line-height: 36px;
    width: 940px;
    margin: 20px auto;
    overflow: hidden;
    font-size: 14px;
}

.sums {
    float: left;
}

.default {
    float: right;
    // color: #00A4EF;
    margin-right: 21px;
    cursor: pointer;
}

.fenx {
    float: right;
    // color: #333333;
    cursor: pointer;
}
.gray {
    color: #333333;
}
.darkb {
    color: #00A4EF;
}

.table {
    width: 940px;
    margin: 0 auto;
}

.t_header {
    height: 34px;
    background-color: #00A4EF;
    font-size: 14px;
    color: #FFFFFF;
}

.t_weix {
    background: #FF5858;
}

.t_row {
    height: 28px;
    text-align: center;
}

.row_odd {
    background: #F5F5F5;
}

.tips {
    text-align: center;
    margin-top: 48px;
    .yzwt {
        i {
            content: '';
            display: inline-block;
            width: 12px;
            vertical-align: middle;
            height: 12px;
            background-color: #FF5858;
            margin-right: 10px;
        }
    }
    .czyb {
        margin: 0 50px;
        i {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            background-color: #FFA200;
            margin-right: 10px;
        }
    }
    .normal {
        i {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            background-color: #333333;
            margin-right: 10px;
        }
    }
}

.ftips {
    text-align: center;
    font-size: 12px;
    color: #2A2A2A;
    margin-top: 10px;
    &::before {
        content: 'æ³¨:';
        font-weight: bold;
    }
}

.c_yz {
    color: #FF5858;
}

.c_warn {
    color: #FFA200;
}