.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
}
.content {
    width: 1260px;
    height: 551px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 61px auto;
}

.reports {
    margin-top: 83px auto 0;
    margin-right: 249px;
    float: right;
    font-size: 24px;
    color: #FF5600;

}