.content {
    width: 1000px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.mrgR5 {
    margin-right: 5px;
}
.mrgL5 {
    margin-left: 5px;
}
.loginStatus {
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.loginStatusName {
    position: relative;
    padding-right: 15px;
    display: inline-block;
}
.lgStatusDrop {
    position: absolute;
    right: 0;
    top: 31px;
    border: 1px solid #ebebeb;
    width: 108px;
    z-index: 7;
    background-color: #fff;
    text-align: center;
    display: none;
}
.arrow {
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
    border-top: 5px solid #999;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    position: absolute;
    right: 0;
    top: 12px;
}
