.wrap {
    position: relative;
}
.header {
    line-height: 70px;
    font-size: 24px;
    color: #333333;
    margin: 0 106px 0 12px;
    border-bottom: 1px solid #ddd;
    padding-left: 113px;
}
.content {
    // border: 1px solid red;
    height: 460px;
    overflow: auto;


}

.item {
    margin: 20px 0 0 90px;
    font-size: 14px;
    color: #333333;
}
.tit {
    margin-bottom: 5px;
}
.item select {
    min-width: 100px;
    height: 34px;
    border-radius: 4px;
}
.input {
    line-height: 30px;
}
.input input {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}

.inputItem {
    display: inline-block;
    margin-right: 20px;
}

.item>span {
    margin-right: 43px;
}


.nextstep {
    position: absolute;
    bottom: 50px;
    right: 100px;
    z-index: 1;
    background: #0387FF;
    border-radius: 4px;
    width: 100px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.nextstep.gray {
    background: gray;
}