.header {
    padding: 20px 10%;
    font-size: 22px;

}
.ct {
    border-bottom: 1px dotted #b7b7b7;
    border-top: 1px dotted #b7b7b7;
    width: 1100px;
    height: 364px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

}
.options {
    margin-top: 50px;
   

    
}
.option {
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
    // float: left;
}

.option:hover {
    background: #eee;
}
.circle {
    display: inline-block;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: red;
    border-radius: 11px;
    color: white;
    vertical-align: middle;

}

.circl_f {
    display: inline-block;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: white;
    vertical-align: middle;
    background: url(~assets/images/oval_8q.png) no-repeat center;

}

.circl_e {
    display: inline-block;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    vertical-align: middle;
    background: url(~assets/images/oval_8.png) no-repeat center;

}


.option input{
    margin-right: 10px;
}
.pre {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: gray;
    color: white;
    bottom: 25px;
    right: 70px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    
}

.next, .submit {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color:  #0387FF;
    color: white;
    bottom: 25px;
    right: 180px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.next.gray, .submit.gray {
    background-color: gray;
}



.barwrap {
    height: 120px;
    line-height: 120px;
    // border: 1px solid red;
    text-align: center;
}

.bar {
    display: inline-block;
    width: 1110px;
    height: 12px;
    background-color: #ddd;
    border-radius: 12px;
    overflow: hidden;

}
.bar i {
    display: block;
    background-color: #3ECB7A;
    width: 300px;
    height: 12px;
}