.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
}
.header {
    height: 1rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: .2rem;
}
.content {
    flex: 1;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .4rem;
    color: greenyellow;
}
