.container {
    font-size: .2rem;
    touch-action: none;

    display: flex;
    flex-direction: column;
}

.header {
    height: .64rem;
    background-image: linear-gradient(-90deg, #0387FF 0%, #02AAFF 100%);
}

.h-ct {
    margin-top: .2rem;
    line-height: .44rem;
    overflow: hidden;
    text-align: center;
    position: relative;

}

.h-back {
    /*float: left;*/
    position: absolute;
    top: .17rem;
    left: .15rem;
    width: .08rem;
    height: .08rem;
    border-left: .02rem solid white;
    border-bottom: .02rem solid white;
    transform: rotate(45deg);

}

.h-title {
    color: #FFFFFF;
    font-size: .18rem;
    font-weight: 500;

}
.content {
    flex: 1;
}
.init{
    color: green;
    height: .5rem;
    text-align: center;
}
.button {
    font-size: .2rem;
    width: 2.5rem;
    border-radius: .2rem;
    margin: 1rem auto;
    line-height: .5rem;
    background: #0387FF;
    color: white;
    text-align: center;
}
.number i {
    color:red;
}
