.logo {
    width: 336px;
    height: 258px;
    background: url(~assets/images/404.png) center no-repeat;
    background-size: contain;
    margin: 116px auto 0;
}

.tips {
    font-size: 16px;
    color: #666666;
    text-align: center;
    line-height: 27px;
    margin-top: 40px;
}

.btn {
    margin: 21px auto 0;
    text-align: center;
    width: 120px;
    line-height: 35px;
    background: #4095EF;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}